project:
  type: website

website:
  title: "My Student Site"
  navbar:
    left:
      - file: index.qmd
        text: Home
      - file: about.qmd
        text: About

format:
  html:
    theme: cosmo
